
.products-category-title {
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.products-category-items {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
}

.products-category-item {
    text-align: center;
}

.product-item-image {
    height: 186px;
    width: 186px;
    min-height: 186px;
    min-width: 186px;
}

.product-item-info {
    margin: 10px;
}

.product-item-name {
    font-weight: bold;
    font-size: large;
}